<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>城市岗位分布</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="0b23ed660c364f5b87c7bf5a89189ef3" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_0b23ed660c364f5b87c7bf5a89189ef3 = echarts.init(
            document.getElementById('0b23ed660c364f5b87c7bf5a89189ef3'), 'white', {renderer: 'canvas'});
        var option_0b23ed660c364f5b87c7bf5a89189ef3 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "treemap",
            "name": "city",
            "data": [
                {
                    "name": "\u4e0a\u6d77",
                    "value": 502,
                    "children": [
                        {
                            "name": "\u5609\u5b9a\u533a",
                            "value": 25
                        },
                        {
                            "name": "\u5949\u8d24\u533a",
                            "value": 2
                        },
                        {
                            "name": "\u5b9d\u5c71\u533a",
                            "value": 13
                        },
                        {
                            "name": "\u5f90\u6c47\u533a",
                            "value": 59
                        },
                        {
                            "name": "\u666e\u9640\u533a",
                            "value": 20
                        },
                        {
                            "name": "\u6768\u6d66\u533a",
                            "value": 26
                        },
                        {
                            "name": "\u677e\u6c5f\u533a",
                            "value": 15
                        },
                        {
                            "name": "\u6d66\u4e1c\u65b0\u533a",
                            "value": 184
                        },
                        {
                            "name": "\u8679\u53e3\u533a",
                            "value": 14
                        },
                        {
                            "name": "\u91d1\u5c71\u533a",
                            "value": 1
                        },
                        {
                            "name": "\u957f\u5b81\u533a",
                            "value": 23
                        },
                        {
                            "name": "\u95f5\u884c\u533a",
                            "value": 66
                        },
                        {
                            "name": "\u9752\u6d66\u533a",
                            "value": 15
                        },
                        {
                            "name": "\u9759\u5b89\u533a",
                            "value": 21
                        },
                        {
                            "name": "\u9ec4\u6d66\u533a",
                            "value": 18
                        }
                    ]
                },
                {
                    "name": "\u5317\u4eac",
                    "value": 621,
                    "children": [
                        {
                            "name": "\u4e1c\u57ce\u533a",
                            "value": 24
                        },
                        {
                            "name": "\u4e30\u53f0\u533a",
                            "value": 37
                        },
                        {
                            "name": "\u5927\u5174\u533a",
                            "value": 39
                        },
                        {
                            "name": "\u6000\u67d4\u533a",
                            "value": 1
                        },
                        {
                            "name": "\u623f\u5c71\u533a",
                            "value": 1
                        },
                        {
                            "name": "\u660c\u5e73\u533a",
                            "value": 38
                        },
                        {
                            "name": "\u671d\u9633\u533a",
                            "value": 162
                        },
                        {
                            "name": "\u6d77\u6dc0\u533a",
                            "value": 249
                        },
                        {
                            "name": "\u77f3\u666f\u5c71\u533a",
                            "value": 18
                        },
                        {
                            "name": "\u897f\u57ce\u533a",
                            "value": 25
                        },
                        {
                            "name": "\u901a\u5dde\u533a",
                            "value": 6
                        },
                        {
                            "name": "\u95e8\u5934\u6c9f\u533a",
                            "value": 1
                        },
                        {
                            "name": "\u987a\u4e49\u533a",
                            "value": 20
                        }
                    ]
                },
                {
                    "name": "\u53a6\u95e8",
                    "value": 602,
                    "children": [
                        {
                            "name": "\u540c\u5b89\u533a",
                            "value": 39
                        },
                        {
                            "name": "\u601d\u660e\u533a",
                            "value": 245
                        },
                        {
                            "name": "\u6d77\u6ca7\u533a",
                            "value": 29
                        },
                        {
                            "name": "\u6e56\u91cc\u533a",
                            "value": 108
                        },
                        {
                            "name": "\u7fd4\u5b89\u533a",
                            "value": 23
                        },
                        {
                            "name": "\u96c6\u7f8e\u533a",
                            "value": 158
                        }
                    ]
                },
                {
                    "name": "\u5929\u6d25",
                    "value": 398,
                    "children": [
                        {
                            "name": "\u4e1c\u4e3d\u533a",
                            "value": 47
                        },
                        {
                            "name": "\u5317\u8fb0\u533a",
                            "value": 7
                        },
                        {
                            "name": "\u5357\u5f00\u533a",
                            "value": 49
                        },
                        {
                            "name": "\u548c\u5e73\u533a",
                            "value": 21
                        },
                        {
                            "name": "\u5b81\u6cb3\u533a",
                            "value": 2
                        },
                        {
                            "name": "\u5b9d\u577b\u533a",
                            "value": 3
                        },
                        {
                            "name": "\u6b66\u6e05\u533a",
                            "value": 11
                        },
                        {
                            "name": "\u6cb3\u4e1c\u533a",
                            "value": 17
                        },
                        {
                            "name": "\u6cb3\u5317\u533a",
                            "value": 6
                        },
                        {
                            "name": "\u6cb3\u897f\u533a",
                            "value": 29
                        },
                        {
                            "name": "\u6d25\u5357\u533a",
                            "value": 16
                        },
                        {
                            "name": "\u6ee8\u6d77\u65b0\u533a",
                            "value": 55
                        },
                        {
                            "name": "\u7ea2\u6865\u533a",
                            "value": 6
                        },
                        {
                            "name": "\u897f\u9752\u533a",
                            "value": 128
                        },
                        {
                            "name": "\u9759\u6d77\u533a",
                            "value": 1
                        }
                    ]
                },
                {
                    "name": "\u5e7f\u5dde",
                    "value": 615,
                    "children": [
                        {
                            "name": "\u4ece\u5316\u533a",
                            "value": 2
                        },
                        {
                            "name": "\u5357\u6c99\u533a",
                            "value": 14
                        },
                        {
                            "name": "\u589e\u57ce\u533a",
                            "value": 8
                        },
                        {
                            "name": "\u5929\u6cb3\u533a",
                            "value": 216
                        },
                        {
                            "name": "\u6d77\u73e0\u533a",
                            "value": 62
                        },
                        {
                            "name": "\u756a\u79ba\u533a",
                            "value": 88
                        },
                        {
                            "name": "\u767d\u4e91\u533a",
                            "value": 40
                        },
                        {
                            "name": "\u82b1\u90fd\u533a",
                            "value": 8
                        },
                        {
                            "name": "\u8354\u6e7e\u533a",
                            "value": 8
                        },
                        {
                            "name": "\u8d8a\u79c0\u533a",
                            "value": 38
                        },
                        {
                            "name": "\u9ec4\u57d4\u533a",
                            "value": 131
                        }
                    ]
                },
                {
                    "name": "\u6210\u90fd",
                    "value": 616,
                    "children": [
                        {
                            "name": "\u53cc\u6d41\u533a",
                            "value": 67
                        },
                        {
                            "name": "\u5f6d\u5dde\u5e02",
                            "value": 1
                        },
                        {
                            "name": "\u6210\u534e\u533a",
                            "value": 17
                        },
                        {
                            "name": "\u65b0\u90fd\u533a",
                            "value": 1
                        },
                        {
                            "name": "\u6b66\u4faf\u533a",
                            "value": 369
                        },
                        {
                            "name": "\u6e29\u6c5f\u533a",
                            "value": 2
                        },
                        {
                            "name": "\u90eb\u90fd\u533a",
                            "value": 55
                        },
                        {
                            "name": "\u91d1\u725b\u533a",
                            "value": 30
                        },
                        {
                            "name": "\u9526\u6c5f\u533a",
                            "value": 31
                        },
                        {
                            "name": "\u9752\u7f8a\u533a",
                            "value": 38
                        },
                        {
                            "name": "\u9f99\u6cc9\u9a7f\u533a",
                            "value": 5
                        }
                    ]
                },
                {
                    "name": "\u676d\u5dde",
                    "value": 614,
                    "children": [
                        {
                            "name": "\u4e0a\u57ce\u533a",
                            "value": 24
                        },
                        {
                            "name": "\u4e34\u5b89\u533a",
                            "value": 4
                        },
                        {
                            "name": "\u4e34\u5e73\u533a",
                            "value": 5
                        },
                        {
                            "name": "\u4f59\u676d\u533a",
                            "value": 153
                        },
                        {
                            "name": "\u62f1\u5885\u533a",
                            "value": 39
                        },
                        {
                            "name": "\u6850\u5e90\u53bf",
                            "value": 1
                        },
                        {
                            "name": "\u6ee8\u6c5f\u533a",
                            "value": 192
                        },
                        {
                            "name": "\u8427\u5c71\u533a",
                            "value": 40
                        },
                        {
                            "name": "\u897f\u6e56\u533a",
                            "value": 136
                        },
                        {
                            "name": "\u94b1\u5858\u533a",
                            "value": 20
                        }
                    ]
                },
                {
                    "name": "\u6b66\u6c49",
                    "value": 590,
                    "children": [
                        {
                            "name": "\u4e1c\u897f\u6e56\u533a",
                            "value": 12
                        },
                        {
                            "name": "\u6b66\u660c\u533a",
                            "value": 42
                        },
                        {
                            "name": "\u6c49\u9633\u533a",
                            "value": 11
                        },
                        {
                            "name": "\u6c5f\u590f\u533a",
                            "value": 231
                        },
                        {
                            "name": "\u6c5f\u5cb8\u533a",
                            "value": 20
                        },
                        {
                            "name": "\u6c5f\u6c49\u533a",
                            "value": 19
                        },
                        {
                            "name": "\u6d2a\u5c71\u533a",
                            "value": 219
                        },
                        {
                            "name": "\u785a\u53e3\u533a",
                            "value": 9
                        },
                        {
                            "name": "\u8521\u7538\u533a",
                            "value": 15
                        },
                        {
                            "name": "\u9752\u5c71\u533a",
                            "value": 6
                        },
                        {
                            "name": "\u9ec4\u9642\u533a",
                            "value": 6
                        }
                    ]
                },
                {
                    "name": "\u6df1\u5733",
                    "value": 545,
                    "children": [
                        {
                            "name": "\u5149\u660e\u533a",
                            "value": 11
                        },
                        {
                            "name": "\u5357\u5c71\u533a",
                            "value": 241
                        },
                        {
                            "name": "\u576a\u5c71\u533a",
                            "value": 5
                        },
                        {
                            "name": "\u5b9d\u5b89\u533a",
                            "value": 73
                        },
                        {
                            "name": "\u76d0\u7530\u533a",
                            "value": 1
                        },
                        {
                            "name": "\u798f\u7530\u533a",
                            "value": 74
                        },
                        {
                            "name": "\u7f57\u6e56\u533a",
                            "value": 13
                        },
                        {
                            "name": "\u9f99\u534e\u533a",
                            "value": 43
                        },
                        {
                            "name": "\u9f99\u5c97\u533a",
                            "value": 84
                        }
                    ]
                },
                {
                    "name": "\u82cf\u5dde",
                    "value": 560,
                    "children": [
                        {
                            "name": "\u5434\u4e2d\u533a",
                            "value": 64
                        },
                        {
                            "name": "\u5434\u6c5f\u533a",
                            "value": 24
                        },
                        {
                            "name": "\u592a\u4ed3\u5e02",
                            "value": 3
                        },
                        {
                            "name": "\u59d1\u82cf\u533a",
                            "value": 21
                        },
                        {
                            "name": "\u5e38\u719f\u5e02",
                            "value": 13
                        },
                        {
                            "name": "\u5f20\u5bb6\u6e2f\u5e02",
                            "value": 10
                        },
                        {
                            "name": "\u6606\u5c71\u5e02",
                            "value": 50
                        },
                        {
                            "name": "\u76f8\u57ce\u533a",
                            "value": 50
                        },
                        {
                            "name": "\u82cf\u5dde\u5de5\u4e1a\u56ed\u533a",
                            "value": 257
                        },
                        {
                            "name": "\u864e\u4e18\u533a",
                            "value": 68
                        }
                    ]
                },
                {
                    "name": "\u897f\u5b89",
                    "value": 553,
                    "children": [
                        {
                            "name": "\u65b0\u57ce\u533a",
                            "value": 8
                        },
                        {
                            "name": "\u672a\u592e\u533a",
                            "value": 29
                        },
                        {
                            "name": "\u705e\u6865\u533a",
                            "value": 1
                        },
                        {
                            "name": "\u7891\u6797\u533a",
                            "value": 14
                        },
                        {
                            "name": "\u83b2\u6e56\u533a",
                            "value": 5
                        },
                        {
                            "name": "\u957f\u5b89\u533a",
                            "value": 55
                        },
                        {
                            "name": "\u960e\u826f\u533a",
                            "value": 1
                        },
                        {
                            "name": "\u96c1\u5854\u533a",
                            "value": 439
                        },
                        {
                            "name": "\u9ad8\u9675\u533a",
                            "value": 1
                        }
                    ]
                },
                {
                    "name": "\u90d1\u5dde",
                    "value": 581,
                    "children": [
                        {
                            "name": "\u4e2d\u539f\u533a",
                            "value": 178
                        },
                        {
                            "name": "\u4e2d\u725f\u53bf",
                            "value": 7
                        },
                        {
                            "name": "\u4e8c\u4e03\u533a",
                            "value": 45
                        },
                        {
                            "name": "\u60e0\u6d4e\u533a",
                            "value": 10
                        },
                        {
                            "name": "\u65b0\u5bc6\u5e02",
                            "value": 1
                        },
                        {
                            "name": "\u65b0\u90d1\u5e02",
                            "value": 21
                        },
                        {
                            "name": "\u7ba1\u57ce\u56de\u65cf\u533a",
                            "value": 111
                        },
                        {
                            "name": "\u8365\u9633\u5e02",
                            "value": 3
                        },
                        {
                            "name": "\u91d1\u6c34\u533a",
                            "value": 205
                        }
                    ]
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": 482,
                    "children": [
                        {
                            "name": "\u4e5d\u9f99\u5761\u533a",
                            "value": 54
                        },
                        {
                            "name": "\u5317\u789a\u533a",
                            "value": 7
                        },
                        {
                            "name": "\u5357\u5cb8\u533a",
                            "value": 42
                        },
                        {
                            "name": "\u5408\u5ddd\u533a",
                            "value": 3
                        },
                        {
                            "name": "\u5927\u6e21\u53e3\u533a",
                            "value": 5
                        },
                        {
                            "name": "\u5927\u8db3\u533a",
                            "value": 1
                        },
                        {
                            "name": "\u5df4\u5357\u533a",
                            "value": 4
                        },
                        {
                            "name": "\u6c5f\u5317\u533a",
                            "value": 51
                        },
                        {
                            "name": "\u6c5f\u6d25\u533a",
                            "value": 3
                        },
                        {
                            "name": "\u6c99\u576a\u575d\u533a",
                            "value": 38
                        },
                        {
                            "name": "\u6e1d\u4e2d\u533a",
                            "value": 60
                        },
                        {
                            "name": "\u6e1d\u5317\u533a",
                            "value": 212
                        },
                        {
                            "name": "\u74a7\u5c71\u533a",
                            "value": 1
                        },
                        {
                            "name": "\u94dc\u6881\u533a",
                            "value": 1
                        }
                    ]
                },
                {
                    "name": "\u957f\u6c99",
                    "value": 512,
                    "children": [
                        {
                            "name": "\u5929\u5fc3\u533a",
                            "value": 29
                        },
                        {
                            "name": "\u5b81\u4e61\u5e02",
                            "value": 1
                        },
                        {
                            "name": "\u5cb3\u9e93\u533a",
                            "value": 288
                        },
                        {
                            "name": "\u5f00\u798f\u533a",
                            "value": 69
                        },
                        {
                            "name": "\u671b\u57ce\u533a",
                            "value": 11
                        },
                        {
                            "name": "\u6d4f\u9633\u5e02",
                            "value": 1
                        },
                        {
                            "name": "\u8299\u84c9\u533a",
                            "value": 27
                        },
                        {
                            "name": "\u957f\u6c99\u53bf",
                            "value": 37
                        },
                        {
                            "name": "\u96e8\u82b1\u533a",
                            "value": 49
                        }
                    ]
                }
            ],
            "width": "80%",
            "height": "80%",
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "fontSize": 15
            },
            "upperLabel": {
                "show": true,
                "position": "inside",
                "margin": 8
            },
            "leafDepth": 1,
            "drillDownIcon": "\u25b6",
            "roam": true,
            "nodeClick": "zoomToNode",
            "zoomToNodeRatio": 0.1024,
            "visualMin": 300,
            "colorMappingBy": "index",
            "visibleMin": 10
        }
    ],
    "legend": [
        {
            "data": [
                "city"
            ],
            "selected": {},
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u62db\u8058\u533a\u57df\u5206\u5e03",
            "target": "blank",
            "subtarget": "blank",
            "left": "center",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_0b23ed660c364f5b87c7bf5a89189ef3.setOption(option_0b23ed660c364f5b87c7bf5a89189ef3);
    </script>
</body>
</html>
