<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="9eee3cca2dc74f0c96a897b9969e1457" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_9eee3cca2dc74f0c96a897b9969e1457 = echarts.init(
            document.getElementById('9eee3cca2dc74f0c96a897b9969e1457'), 'white', {renderer: 'canvas'});
        var option_9eee3cca2dc74f0c96a897b9969e1457 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "funnel",
            "name": "\u4f01\u4e1a\u62db\u8058\u6570\u91cf",
            "data": [
                {
                    "name": "\u534e\u4e3a",
                    "value": 105
                },
                {
                    "name": "\u534e\u4e3a\u6280\u672f\u6709\u9650\u516c\u53f8",
                    "value": 62
                },
                {
                    "name": "\u8f6f\u901a\u52a8\u529b",
                    "value": 43
                },
                {
                    "name": "\u817e\u8baf",
                    "value": 39
                },
                {
                    "name": "\u4e2d\u8f6f\u56fd\u9645",
                    "value": 33
                },
                {
                    "name": "\u534e\u4e3a\u4e91\u8ba1\u7b97",
                    "value": 33
                },
                {
                    "name": "\u963f\u91cc\u5df4\u5df4\u96c6\u56e2",
                    "value": 20
                },
                {
                    "name": "\u535a\u5f66\u79d1\u6280",
                    "value": 18
                },
                {
                    "name": "\u8682\u8681\u91d1\u670d",
                    "value": 17
                },
                {
                    "name": "\u6cd5\u672c",
                    "value": 15
                }
            ],
            "sort": "descending",
            "gap": 0,
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u8f6f\u901a\u52a8\u529b",
                "\u534e\u4e3a",
                "\u534e\u4e3a\u6280\u672f\u6709\u9650\u516c\u53f8",
                "\u534e\u4e3a\u4e91\u8ba1\u7b97",
                "\u6cd5\u672c",
                "\u817e\u8baf",
                "\u535a\u5f66\u79d1\u6280",
                "\u8682\u8681\u91d1\u670d",
                "\u4e2d\u8f6f\u56fd\u9645",
                "\u963f\u91cc\u5df4\u5df4\u96c6\u56e2"
            ],
            "selected": {},
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u4f01\u4e1a\u62db\u8058\u6570\u91cf\u6392\u884c\u699cTOP10",
            "target": "blank",
            "subtarget": "blank",
            "left": "center",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_9eee3cca2dc74f0c96a897b9969e1457.setOption(option_9eee3cca2dc74f0c96a897b9969e1457);
    </script>
</body>
</html>
